

/******************** "estilos generales" ********************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/******************** "jumbotron" ********************/
.logo{
    display: block;
    margin: auto;
    height: 200px;
    width: 700px;
}
.jumbotron{
     background-image:  linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url(/media/img/fondo-libros.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0rem; 
}
/******************** "menu" ********************/
.menu{
-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}
/******************** "Biblioteca" ********************/
.biblioteca{
    padding: 30px;
}
.genero{
    padding: 15px;
}
.nombre{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.libros{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 300px;
}
.libro{
    width: 150px !important;
    height: 200px;
    border-radius: 15px;
    padding: 10px;
    background-image: url(/media/img/d4583b81da55f3ac0cc8806a3d39f680.jpg);
    background-position: center;
    background-size: cover;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);  
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);  
}
.libro:hover{
    transition: .2s;
    transform: scale(1.04);
}
.titulo{
    display: flex;
    justify-content: center;
    padding: 30px;
    font-size: 40px;
}
.font-book{
    width: 200px;
    height: auto;
    border-radius: 15px;
}
.footer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.slick-prev:before,
.slick-next:before {
  color:gray;
}

.book{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: 20px;
}
.contenido{
    margin: 30px;
}
@media (max-width: 800px) {
 .logo{
     width: 600px;
 }
}
@media (max-width: 780px) {
 .logo{
     width: 500px;
 }
}
@media (max-width: 540px) {
 .logo{
     width: 400px;
 }
}
@media (max-width: 450px) {
 .logo{
     width: 300px;
     
 }
}